In [1]:
import pandas as pd
import pandasql as ps
from pandas.core.series import Series
from pandas.core.frame import DataFrame
import numpy as np

In [2]:
excel_data_socios = pd.read_excel('data_example.xlsx', sheet_name='Lista_Socios')
excel_data_arrendatario = pd.read_excel('data_example.xlsx', sheet_name='Lista_Arrendatario')

In [3]:
excel_data_socios

,socio,nombre,dni,dirección,cp,municipio,iban,telefono1,telefono2,email,votos
0,5.0,"VIVES GARCIA, JOSE",73988572-X,"ROSER, 48",3750.0,PEDREGUER,ES7530582550222720001653,0,620597627,josevivesg@hotmail.com,1
1,7.0,"MORELL SOLER, JOSE",19960500-L,"CORDOVA, 2",3750.0,PEDREGUER,ES8600811051810006225733,0,0,NaN,1
2,8.0,"BALLESTER CARRIO, VICENTE",21291130-F,"VALENCIA, 24",3750.0,PEDREGUER,ES5830582550282810001466,669740807,676197656,ballestermengualsonia@gmail.com,2
3,13.0,"SIMO FORNES, PEDRO",73985668-G,"C. VALERIA COSTA, 14",3750.0,PEDREGUER,ES0200811051890006011610,606039621,0,llesqueta1957@gmail.com,3
4,20.0,"SEGUI PEREZ (Alberques), ROSA MARIA",52787515-D,"SERPIS, 24 PTA.10",46021.0,VALENCIA,ES6801280608100100006353,963369308,965760440,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
2346,4177.0,"JULIA MOLLA, ROBERT SANTIAGO",53942999H,"ORQUIDEA, 9 D",3700.0,DENIA,ES7100811337110002164219,0,696451190,sabinekeromnes@gmail.com,1
2347,4178.0,"LLACER SERRA, MARIA EMPAR",73988600S,"LLUNA, 30 - 1º",3750.0,PEDREGUER,ES6630580990232754234436,0,638266821,emparllacerserra@gmail.com,1
2348,4179.0,"LLACER SERRA, Mª ROSARIO",73990777F,"MALAGA, 12",3730.0,XABIA,ES6100811051820006119725,0,666421941,llacer.rosser@gmail.com,1
2349,4180.0,"LLACER SERRA, JOSEP",25122446Y,"URBANIT.XALOC, 22",43540.0,S.CARLES DE LA RAPITA,ES2321000086130200865057,0,639054876,jllacer@xtec.cat,1
2350,4181.0,"LLACER SERRA, FERMIN",28992715L,"ALFONSO XIII, 13",3750.0,PEDREGUER,ES2130580990222762157091,0,686116996,fermin@llacer.as,1

In [23]:
excel_data_arrendatario

    ARRENDATARIO             NOMBRE ARRENDATARIO
0             13              SIMÓ FORNS, PEDRO
1            170      BALLESTER MASIA, JUAN LUIS
2            207         BARBER CARRIÓ, PASCUALA
3            299       CARRIO FORNES, JUAN ANGEL
4            429              COSTA FORNS, LUIS
..           ...                             ...
80          4111            ANGE BILLON, CLAUDIO
81          4125           AYET PONS, JOSE RAMON
82          4130               SERRA GIL, ISABEL
83          4142               HEIJKOOP, ADRIAAN
84          9998  FORNES SANCHO, JOSE Y JUAN BER

[85 rows x 2 columns]

In [24]:
data = ps.sqldf("""
        SELECT 
            so.*, arr.*,
            CASE WHEN arr.ARRENDATARIO IS NULL THEN 0 ELSE 1 END AS is_arrendatario
        FROM
            excel_data_socios so
                LEFT JOIN
            excel_data_arrendatario arr ON arr.ARRENDATARIO = so.socio
""")

In [25]:
data

,socio,nombre,dni,dirección,cp,municipio,iban,telefono1,telefono2,email,votos,ARRENDATARIO,NOMBRE ARRENDATARIO,is_arrendatario
0,5.0,"VIVES GARCIA, JOSE",73988572-X,"ROSER, 48",3750.0,PEDREGUER,ES7530582550222720001653,0,620597627,josevivesg@hotmail.com,1,NaN,None,0
1,7.0,"MORELL SOLER, JOSE",19960500-L,"CORDOVA, 2",3750.0,PEDREGUER,ES8600811051810006225733,0,0,None,1,NaN,None,0
2,8.0,"BALLESTER CARRIO, VICENTE",21291130-F,"VALENCIA, 24",3750.0,PEDREGUER,ES5830582550282810001466,669740807,676197656,ballestermengualsonia@gmail.com,2,NaN,None,0
3,13.0,"SIMO FORNES, PEDRO",73985668-G,"C. VALERIA COSTA, 14",3750.0,PEDREGUER,ES0200811051890006011610,606039621,0,llesqueta1957@gmail.com,3,13.0,"SIMÓ FORNS, PEDRO",1
4,20.0,"SEGUI PEREZ (Alberques), ROSA MARIA",52787515-D,"SERPIS, 24 PTA.10",46021.0,VALENCIA,ES6801280608100100006353,963369308,965760440,None,1,NaN,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,4177.0,"JULIA MOLLA, ROBERT SANTIAGO",53942999H,"ORQUIDEA, 9 D",3700.0,DENIA,ES7100811337110002164219,0,696451190,sabinekeromnes@gmail.com,1,NaN,None,0
2347,4178.0,"LLACER SERRA, MARIA EMPAR",73988600S,"LLUNA, 30 - 1º",3750.0,PEDREGUER,ES6630580990232754234436,0,638266821,emparllacerserra@gmail.com,1,NaN,None,0
2348,4179.0,"LLACER SERRA, Mª ROSARIO",73990777F,"MALAGA, 12",3730.0,XABIA,ES6100811051820006119725,0,666421941,llacer.rosser@gmail.com,1,NaN,None,0
2349,4180.0,"LLACER SERRA, JOSEP",25122446Y,"URBANIT.XALOC, 22",43540.0,S.CARLES DE LA RAPITA,ES2321000086130200865057,0,639054876,jllacer@xtec.cat,1,NaN,None,0
2350,4181.0,"LLACER SERRA, FERMIN",28992715L,"ALFONSO XIII, 13",3750.0,PEDREGUER,ES2130580990222762157091,0,686116996,fermin@llacer.as,1,NaN,None,0

In [26]:
sum(data['is_arrendatario'])

83

In [27]:
# contadores = pd.read_excel('/home/kevin/Descargas/listado_contadores.xlsx', sheet_name='Hoja1')
# socios = pd.read_excel('/home/kevin/Descargas/res.partner.xlsx', sheet_name='Sheet1')
# hidrantes = pd.read_excel('/home/kevin/Descargas/ccrr.hidrante.xlsx', sheet_name='Sheet1')

In [28]:
# socios

In [29]:
# contadores

In [30]:
# hidrantes

In [31]:
# data = ps.sqldf("""
#         SELECT 
#             so.*, co.*, hi.*
#         FROM
#             contadores co
#                 LEFT JOIN
#             socios so ON co.SOCIO = so.id_socio
#                 LEFT JOIN 
#             hidrantes hi ON co.HIDRANTE = hi.name
# """)

In [32]:
# data

In [33]:
# data.to_excel("/home/kevin/Descargas/output.xlsx", sheet_name='Sheet1')

In [34]:
# data['MODELO']

In [35]:
# data['DIAMETRO']

In [36]:
# import re

In [37]:
# new_diametro = list(map(lambda x: "".join(re.findall(r'\d+', x)) if x is not None else x, data['DIAMETRO']))

In [38]:
# data['DIAMETRO']

In [39]:
# new_diametro

In [40]:
# data['DIAMETRO'] = new_diametro

In [41]:
# data['DIAMETRO']

In [42]:
# data.to_excel("/home/kevin/Descargas/output.xlsx", sheet_name='Sheet1')

In [43]:
# for dato in enumerate(data['MODELO']):
#     print(' - '+str(data['DIAMETRO'][dato[0]])
#     data['MODELO'][dato[0]] = str(data['MODELO'][dato[0]]) + ' - '+str(data['DIAMETRO'][dato[0]])

In [44]:
# contadores2 = contadores

In [45]:
# contadores2

In [46]:
# contadores2['DIAMETRO']

In [47]:
# import re
# diametro_pro = list(map(lambda x: "".join(re.findall(r'\d+', str(x))) if x is not None else x, contadores2['DIAMETRO']))

In [48]:
# diametro_pro

In [49]:
# contadores2['DIAMETRO'] = diametro_pro

In [50]:
# for dato in enumerate(contadores2['MODELO']):
#     print(dato)
#     print(contadores2['DIAMETRO'][dato[0]])
#     contadores2['MODELO'][dato[0]] += ' - '+str(contadores2['DIAMETRO'][dato[0]])
# #     print(' - '+str(contadores2['DIAMETRO'][dato[0]])
# #     data['MODELO'][dato[0]] = str(data['MODELO'][dato[0]]) + ' - '+str(data['DIAMETRO'][dato[0]])

In [19]:
# contadores2.to_excel("/home/kevin/Descargas/listado_contadores.xlsx", sheet_name='Hoja2')

In [52]:
parcelas = pd.read_excel('/home/kevin/4Plus/recursos/Migracion PEDREGUER/parcelas.xlsx', sheet_name='Hoja1')

In [53]:
parcelas

,TERMINO,PARTIDA,CP,POLÍGONO,PARCELA,M2,TIEMPO NECESARIO,TIEMPO ASIGNADO,DIFERENCIA,CONTADOR,HIDRANTE,SOCIO,NOMBRE
0,Denia,NaN,700.0,18.0,7,6094,03:40:00,03:40:00,00:00:00,3173.0,B110653173,2718.0,"LLULL FORNES, EMILIO"
1,Denia,Arenals,700.0,18.0,8,9997,06:01:00,06:01:00,00:00:00,3172.0,B110703172,2717.0,"LLULL FORN—ES, JOSE ANTONIO"
2,Denia,Arenals,700.0,18.0,9,1457,00:52:30,00:52:30,00:00:00,3279.0,B110053279,3843.0,"ESCRIVA FORNES, VICENTE"
3,Gata de Gorgos,Rompudetes,740.0,1.0,5,556,00:20:00,00:20:00,00:00:00,3467.0,A030523467,3391.0,"DE LUCAS BORDA, DEMETRIO"
4,Pedreguer,Alberca,750.0,1.0,4,3537,02:07:30,02:07:30,00:00:00,1333.0,C150501333,3622.0,STICHTING VRIENDEN VAN PHOENIX
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,Beniarbeig,COLINA SOL 5A,778.0,6.0,U0158,1400,00:50:30,00:50:30,00:00:00,1570.0,C050051570,3788.0,"DELAS, PASCAL"
4478,Beniarbeig,COLINA SOL 5D,778.0,6.0,U0159,1197,00:43:00,00:43:00,00:00:00,1576.0,C050201576,3744.0,"POLLMANN, RAINER HERRMANN"
4479,Beniarbeig,COLINA SOL 5E,778.0,6.0,U0160,1073,00:38:30,00:38:30,00:00:00,1571.0,C050101571,3718.0,"CIAPESSONI, FRANCIS ROSS PAUL"
4480,Beniarbeig,COLINA SOL 5P,778.0,6.0,U0161,1414,00:51:00,00:51:00,00:00:00,1599.0,C050031599,3876.0,"ARTHO, FRED WALTER"
4481,NaN,NaN,NaN,NaN,NaN,10516835,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
data = ps.sqldf("""
        SELECT 
            *
        FROM
            parcelas p
        WHERE
            p.PARCELA = 2
        ORDER BY p.POLÍGONO ASC 
        
""")
# POLÍGONO

In [76]:
data

,TERMINO,PARTIDA,CP,POLÍGONO,PARCELA,M2,TIEMPO NECESARIO,TIEMPO ASIGNADO,DIFERENCIA,CONTADOR,HIDRANTE,SOCIO,NOMBRE
0,Pedreguer,Marjals,750.0,3.0,2,2959,01:47:00,01:47:00,00:00:00,693.0,C260250693,2316.0,"GERMANS SERVER,S.L."
1,Pedreguer,Planets,750.0,4.0,2,1786,01:04:30,01:04:30,00:00:00,0.0,None,1875.0,"TOMAS COSTA, JOSE (de jose)"
2,Pedreguer,Albardanera,750.0,6.0,2,1066,00:38:30,00:30:00,00:08:30,0.0,None,3555.0,"LOPEZ ZARANDONA, Mª LUISA"
3,Beniarbeig,Rafalet,778.0,6.0,2,1291,00:46:30,00:46:30,00:00:00,222.0,C030950222,741.0,"FORN—ES MIRALLES, JAIME"
4,Pedreguer,Albardanera,750.0,7.0,2,1309,00:47:00,00:47:00,00:00:00,3438.0,B140453438,3507.0,"VILAR ARROYO, MARIA VICTORIA"
5,Pedreguer,Murtar,750.0,8.0,2,2632,01:35:00,01:35:00,00:00:00,3265.0,B080253265,1322.0,"ORTOLA FERRANDO, ANDRES"
6,Pedreguer,Borissa,750.0,11.0,2,2090,01:15:30,01:15:30,00:00:00,2032.0,C520452032,163.0,"BALLESTER FORNE—S, PEDRO JUAN"
7,Pedreguer,Molinets,750.0,12.0,2,1568,00:56:30,00:45:00,00:11:30,1260.0,C490301260,2729.0,"DUR— BALBURGOS, FRANCISCO"
8,Pedreguer,Cometes,750.0,13.0,2,2310,01:23:30,01:23:30,00:00:00,2275.0,C690252275,3749.0,"RIBES MARTI, JOSEFA"
9,Pedreguer,"Xara, 16",750.0,14.0,2,1740,01:03:00,01:03:00,00:00:00,459.0,C120000459,2995.0,"NOGUERA SERVER, JUAN"
10,Pedreguer,Campell,750.0,15.0,2,3363,02:01:30,02:01:30,00:00:00,135.0,C100550135,2318.0,"GILABERT VAQUER, MARIA ISABEL"
11,Pedreguer,Rafalet,750.0,16.0,2,716,00:26:00,00:26:00,00:00:00,0.0,None,1223.0,"MORELL MAS, JUAN ANTONIO"

In [109]:
parcelas['POLÍGONO']

0       18.0
1       18.0
2       18.0
3        1.0
4        1.0
        ...
4477     6.0
4478     6.0
4479     6.0
4480     6.0
4481     NaN
Name: POLÍGONO, Length: 4482, dtype: float64

In [127]:
unique_pol = Series(list(set(parcelas['POLÍGONO'])))

In [158]:
unique_pol_filter = list(filter(lambda x: not np.isnan(x), unique_pol))

In [159]:
list(unique_pol_filter)

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 18.0,
 19.0,
 21.0,
 26.0]

In [160]:
pol = Series(unique_pol_filter)

In [161]:
pol

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    18.0
17    19.0
18    21.0
19    26.0
dtype: float64

In [130]:
# type(parcelas['POLÍGONO'])

pandas.core.series.Series

In [140]:
type(parcelas)

pandas.core.frame.DataFrame

In [162]:
poligonos = DataFrame(data=pol, columns=['name'])

In [164]:
poligonos.to_excel("/home/kevin/4Plus/recursos/Migracion PEDREGUER/poligonos.xlsx", sheet_name='Hoja1')

In [143]:
type(poligonos['name'][0])

numpy.float64

In [147]:
np.isnan(poligonos['name'][0])

True

In [165]:
unique_cp = Series(list(set(parcelas['CP'])))

In [166]:
unique_cp

0      NaN
1    740.0
2    778.0
3    750.0
4    760.0
5    700.0
dtype: float64

In [177]:
unique_cp_filter = list(filter(lambda x: not np.isnan(x), unique_cp))
cp = DataFrame(data=Series(unique_cp_filter), columns=['name'])
cp.to_excel("/home/kevin/4Plus/recursos/Migracion PEDREGUER/cp.xlsx", sheet_name='Hoja1')

    name
0  740.0
1  778.0
2  750.0
3  760.0
4  700.0

In [181]:
unique_termino = Series(list(set(parcelas['TERMINO'])))
unique_termino_filter = list(filter(lambda x: x, unique_termino))
cp = DataFrame(data=Series(unique_termino_filter), columns=['name'])
cp.to_excel("/home/kevin/4Plus/recursos/Migracion PEDREGUER/termino.xlsx", sheet_name='Hoja1')

In [182]:
unique_partida = Series(list(set(parcelas['PARTIDA'])))
unique_partida_filter = list(filter(lambda x: x, unique_partida))
cp = DataFrame(data=Series(unique_partida_filter), columns=['name'])
cp.to_excel("/home/kevin/4Plus/recursos/Migracion PEDREGUER/partida.xlsx", sheet_name='Hoja1')

    name
0  740.0
1  778.0
2  750.0
3  760.0
4  700.0